 <% @list_of_photos.each do |photo| %>
<div class="container">
  <div class="row">
    <p></p>
    <div class="col-md-8 col-md-offset-2 hidden-xs hidden-sm">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title"><%= photo.caption %></h1>
        </div>

        <ul class="list-group">
          <li class="list-group-item"><div class="well well-sm"><img src="<%= photo.source %>" class="img-responsive"></div></li>
          <li class="list-group-item">
                <div class="row">
                  <div class="col-md-2">
                    <a href="http://localhost:3000/photos/<%= photo.id %>/show" class="btn btn-primary btn-block btn-lg" ><i class="fa fa-search-plus"></i></a>
                  </div>

                  <div class="col-md-2">
                    <a href="http://localhost:3000/photos/<%= photo.id %>/edit" class="btn btn-warning btn-block btn-lg" ><i class="fa fa-pencil"></i></a>
                  </div>

                  <div class="col-md-2">
                    <a href="http://localhost:3000/photos/delete_photo/<%= photo.id %>" class="btn btn-danger btn-block btn-lg" ><i class="fa fa-trash"></i></a>
                  </div>
                </div>
                </li>
        </ul>
      </div>
    </div>
  </div>
</div>
 <% end %>
